# CDC: Monkeypox derived timeseries

#### Python tools

In [4]:
%load_ext lab_black

In [5]:
import pandas as pd
import geopandas as gpd
import altair as alt
import altair_grid as altgrid

In [6]:
alt.themes.register("grid", altgrid.theme)
alt.themes.enable("grid")

ThemeRegistry.enable('grid')

In [7]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [8]:
today = pd.Timestamp.now(tz="America/Los_Angeles").strftime("%Y-%m-%d")
time = pd.Timestamp.now(tz="America/Los_Angeles").strftime("%-I:%M %p")

---

## Cases timeseries

In [9]:
src = pd.read_csv(
    "https://raw.githubusercontent.com/gridviz/monkeypox/main/data/processed/monkeypox_cases_derived_timeseries_latest.csv"
)

In [10]:
src

          date  cases  cumulative_sum
0   2022-08-06    891            7507
1   2022-08-03    229            6616
2   2022-08-02    516            6387
3   2022-08-01    562            5871
4   2022-07-31     14            5309
5   2022-07-30     16            5295
6   2022-07-29    435            5279
7   2022-07-28    184            4844
8   2022-07-27    476            4660
9   2022-07-26    586            4184
10  2022-07-25    812            3598
11  2022-07-24      6            2786
12  2022-07-23     13            2780
13  2022-07-22    322            2767
14  2022-07-21    183            2445
15  2022-07-20    255            2262
16  2022-07-19    292            2007
17  2022-07-18    168            1715
18  2022-07-17      1            1547
19  2022-07-16      7            1546
20  2022-07-15    152            1539
21  2022-07-14    209            1387
22  2022-07-13    141            1178
23  2022-07-12    157            1037
24  2022-07-11     95             880
25  2022-07-10      7             785
26  2022-07-09     41             778
27  2022-07-08     36             737
28  2022-07-07     53             701
29  2022-07-06     46             648
30  2022-07-05     36             602
31  2022-07-04     24             566
32  2022-07-03      8             542
33  2022-07-02     15             534
34  2022-07-01     54             519
35  2022-06-30     57             465
36  2022-06-29     42             408
37  2022-06-28     40             366
38  2022-06-27     60             326
39  2022-06-26      9             266
40  2022-06-25     12             257
41  2022-06-24     48             245
42  2022-06-23     20             197
43  2022-06-22     20             177
44  2022-06-21     14             157
45  2022-06-20     11             143
46  2022-06-19      4             132
47  2022-06-18      9             128
48  2022-06-17      8             119
49  2022-06-16     17             111
50  2022-06-15     10              94
51  2022-06-14     15              84
52  2022-06-13      3              69
53  2022-06-12      5              66
54  2022-06-11      2              61
55  2022-06-10      4              59
56  2022-06-09      7              55
57  2022-06-08      6              48
58  2022-06-07      4              42
59  2022-06-06      5              38
60  2022-06-05      0              33
61  2022-06-04      2              33
62  2022-06-03      6              31
63  2022-06-02      3              25
64  2022-06-01      1              22
65  2022-05-31      3              21
66  2022-05-30      0              18
67  2022-05-29      1              18
68  2022-05-28      0              17
69  2022-05-27      3              17
70  2022-05-26      2              14
71  2022-05-25      2              12
72  2022-05-24      1              10
73  2022-05-23      4               9
74  2022-05-22      1               5
75  2022-05-21      2               4
76  2022-05-20      1               2
77  2022-05-19      0               1
78  2022-05-18      0               1
79  2022-05-17      1               1